<div class="container large-marg">
  <div class="row">
    <div class="col-md-4">
      <h1><%= @blog.title %></h1>
      <p><small><%= @blog.date %></small></p>
    </div>
    <div class="col-md-8">
      <p><%= @blog.body %></p>
    </div>
  </div>
  <div class="large-marg">
    <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-light' %> |
    <%= link_to 'Back', blogs_path, class: 'btn btn-light' %> |
    <%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light' %>
  </div>
</div>


