
<div class="row">
  <div class="col-md-8">
    <%= form_with(model: test_ad, local: true) do |form| %>
      <% if test_ad.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(test_ad.errors.count, "error") %> prohibited this test_ad from being saved:</h2>

          <ul>
          <% test_ad.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :test_ad_title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :test_ad_body, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label class="btn btn-outline-primary">
          Upload Image<%= form.file_field :image, id: :test_ad_image, class: 'form-control', style: 'display:none;' %>
        </label>
      </div>

      <div class="form-group">
        <%= form.submit 'Save Form', class: 'btn btn-outline-secondary' %>
      </div>
    <% end %>
  </div>
</div>

