<div class="card ad-background" background-image="<%= @test_ad.image %>">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-right">
        <%= @test_ad.title %>
      </h3>
    </div>
    <div class="col-md-8">
      <p>
        <%= @test_ad.body %>
      </p>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_test_ad_path(@test_ad), class: 'btn btn-light' %> |
<%= link_to 'Back', test_ads_path, class: 'btn btn-light' %>
