<div class="form-group nested-fields">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :amount %>
  <%= f.text_field :amount, class: 'form-control' %>

  <%= link_to_remove_association 'Remove Ingredient', f, class: 'btn btn-outline-danger btn-sm' %>
</div>