<div class="container">
  <div>
    <div class="row marg">
      <div class="col-md-4">
        <h3><%= @recipe.title %></h3>
        <h5><%= @recipe.subtitle %></h5>
      </div>
      <div class="col-md-8">
        <p><%= @recipe.body %></p>
      </div>
    </div>

    <div class="row marg">
      <div class="col-md-6">
        <% @recipe.ingredients.each do |i| %>
          <div class="card small-marg small-padd">
            <h4><%= i.title %></h4>
            <h6><%= i.amount %></h6>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <% @recipe.instructions.each do |ins| %>
          <div class="card small-marg small-padd">
            <h4><%= ins.verb %></h4>
            <p><%= ins.body %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="small-marg">
    <button id="add_item" onclick="addItem">Add to List</button>
  </div>

  <div class="marg">
    <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-light' %> |
    <%= link_to 'Back', recipes_path, class: 'btn btn-light' %>
  </div>
</div>