

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @recipe.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recipe.body %>
</p>

<% @recipe.instructions.each do |ins| %>
  <div class="card">
    <p><%= ins.verb %></p>
    <p><%= ins.body %></p>
  </div>
<% end %>

<% @recipe.ingredients.each do |i| %>
  <div class="card">
    <p><%= i.title %></p>
    <p><%= i.amount %></p>
  </div>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
