

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @recipe.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recipe.body %>
</p>

<% @recipe.ingredients.each do |i| %>
  <p><%= i.title %></p>
  <p><%= i.amount %></p>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
